<a target="_blank" href="https://podcasts.google.com/feed/aHR0cHM6Ly9mZWVkcy5idXp6c3Byb3V0LmNvbS8yMDUzOTA2LnJzcw=="
    style="display: inline-block; 
           background-color: #000000; 
           background-image: url(https://www.buzzsprout.com/images/badges/listen-on-embed.svg); 
           background-repeat: no-repeat; 
           border: 1px solid #000000; 
           border-radius: 5px; 
           margin: 0 5px 5px 0; 
           text-indent: -9000px; 
           background-position: 10px -113px; 
           height: 40px; 
           width: 165px;">Listen on Google Podcasts</a>
